<div class="row" style="margin-top:70px;">
<span class="text-line">
    <%= @motels.first.zone if @motels.first != nil %>市のトップのレビュー
</span>
<div class="col-md-10" id="motels" style="margin-top:20px;" >
  <%= render partial: "static_pages/motel", collection: @motels %>
</div>
</div>