
  <% if user_signed_in? %>
    <%if current_user.motels.exists?motel.id %>
      <div class="col-md-4 btn-my-list">
       <%= link_to motel_undo_bookmark_path(motel) , cLass: "btn btn-danger", style: "margin-top: 25px; border-radius: 0px;", method: :post, remote: true do %>
                <i class="fa fa-fw fa-bookmark", style="color: black;"></i>   興味なし
       <%end%>
      </div>
    <%else%>
      <div class="col-md-4 btn-my-list">
        <%= link_to motel_add_bookmark_path(motel) , cLass: "btn btn-danger", style: "margin-top: 25px; border-radius: 0px;", method: :post, remote: true do %>
                <i class="fa fa-fw fas fa-bookmark"></i> 興味ある
       <%end%>
      </div>
    <%end%>
<%end%>
