body {
  padding-top: 70px;
}
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.star-rating {
  line-height:28px;
  font-size:1.6em;
}
.star-rating-form {
  line-height:28px;
  font-size:1.6em;
}
.star-rating-form .fa-star{color: #F9A825;}
.star-rating .fa-star{color: #F9A825;}
.star-user{
  margin-top: -40px;
  margin-left: 17px;
}
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  font-size: 33px;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #F9A825;
  font-size: 33px;
}
