.UFIContainer {
    margin: 0;
    width: 398px;
}

div.UFIContainer {
    overflow: hidden;
    padding: 0;
}

.UFIRow {
    background-color: #e9ebee;
    margin-top: 1px;
    padding: 4px;
    word-wrap: break-word;
}

._5pcb._dp7 ._5vsj, ._5pcb._dp7 ._5vsj .fsm, ._5pcb._dp7 ._5vsi, ._5pcb._dp7 ._5v47, ._5pcb._4j3f .UFIAddCommentInput {
    font-size: 13px;
}
._5vsj._5vsj._5vsj {
    background-color: #f5f6f7;
    border-radius: 0 0 3px 3px;
    color: #1d2129;
    overflow: visible;
    width: auto;
}
._3-a6._5vsj .UFIRow, ._3-a6._5vsj.UFIContainer .UFIReplyList .UFIRow, ._3-a6._5vsj._5vsj._5vsj {
    background-color: #fff;
}
._3-a6._1blz._5vsj .UFIRow, ._3-a6._1blz._5vsj.UFIContainer .UFIReplyList .UFIRow, ._3-a6._1blz._5vsj._5vsj._5vsj {
    background-color: #f2f3f5;
}
._3-a6._65_9._5vsj .UFIRow, ._3-a6._65_9._5vsj.UFIContainer .UFIReplyList .UFIRow, ._3-a6._65_9._5vsj._5vsj._5vsj, ._6q1a ._3-a6._65_9._5vsj .UFIRow, ._6q1a ._3-a6._65_9._5vsj.UFIContainer .UFIReplyList .UFIRow, ._6q1a ._3-a6._65_9._5vsj._5vsj._5vsj {
    background-color: #fff;
}
._3b-9 {
    position: relative;
}

._3-a6._1blz._5vsj .UFIRow._4204, ._u77 ._3-a6._1blz.fbPhotosSnowliftUfi .UFIRow._4204._48pi, ._u77 ._3-a6._1blz.fbPhotosSnowliftUfi .UFIRow.UFIComment._4204._48pi, ._u77 ._3-a6._1blz.fbPhotosSnowliftUfi .UFIRow.UFILikeSentence._4204 {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}

._3-a6._5vsj .UFIRow._4204, ._u77 ._3-a6.fbPhotosSnowliftUfi .UFIRow._4204._48pi, ._u77 ._3-a6.fbPhotosSnowliftUfi .UFIRow.UFILikeSentence._4204 {
    margin: 0 12px;
    padding-left: 0;
    padding-right: 0;
}
._5vsj .UFIComment._48pi {
    padding-top: 8px;
}
._5vsj .UFIRow._4204 {
    border-top: 1px solid #e1e2e3;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}
._3-a6._5vsj .UFIRow, ._3-a6._5vsj.UFIContainer .UFIReplyList .UFIRow, ._3-a6._5vsj._5vsj._5vsj {
    background-color: #fff;
}
._5vsj ._4204, ._5vsj .UFIAddComment+._48pi, ._5vsj .UFIAddComment+._j6a ._48pi, ._5vsj .UFIRow.UFIPagerRow+.UFIRow._48pi, ._5vsj ._11c1+.UFIRow._4204._48pi {
    border-top: 0;
}
._5vsj .UFIShareRow, ._5vsj .UFILikeSentence, ._5vsj ._48pi {
    border-top: 1px solid #e1e2e3;
}
._5vsj .UFIRow {
    background-color: #f5f6f7;
    margin: 0 12px;
    padding: 4px 0;
    position: relative;
}

.lfloat {
    float: left;
}

._ohe {
    float: left;
}


._605a ._5v9k .UFIComment .UFIImageBlockImage.UFICommentAuthorWithPresence {
    overflow: inherit;
}

._605a ._5v9k .UFIAddComment .UFIImageBlockImage, ._605a ._5v9k .UFIComment .UFIImageBlockImage {
    border-radius: 50%;
    overflow: hidden;
}
._5v9k .UFIAddComment .UFIImageBlockImage, ._5v9k .UFIComment .UFIImageBlockImage {
    position: relative;
}
.UFIRow .UFIImageBlockImage {
    margin: 0;
}
.UFICommentAuthorWithPresence {
    position: relative;
}
._8s {
    margin-right: 8px;
}
._8o, ._8o .img {
    display: block;
}
a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

.UFIActorImage {
    border-radius: 50%;
    overflow: hidden;
}

._8o, ._8o .img {
    display: block;
}
._54ru {
    height: 32px;
    width: 32px;
}

._3-a6 .UFIRow .UFIImageBlockContent {
    padding-left: 6px;
}

.UFIRow .UFIImageBlockContent {
    margin: 0;
    padding-left: 8px;
}
._42ef {
    overflow: hidden;
}

._3-a6 .UFICommentContentBlock {
    padding-right: 0;
}
.UFICommentContentBlock {
    padding-right: 14px;
    position: relative;
}

._3-a6 ._26f8 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

._3-a6 ._26f8>._10la, ._3-a6 ._26f8>.UFICommentActorAndBody {
    min-width: 0;
    word-wrap: break-word;
}
._3-a6 ._10la {
    align-items: flex-end;
    display: flex;
}

._3-a6._65_9 .UFICommentActorAndBody {
    background-color: #eff1f3;
}

._3-a6._1blz .UFICommentActorAndBody, ._6q1a ._3-a6._1blz .UFICommentActorAndBody {
    background-color: #fff;
}
._3-a6._4eno .UFICommentActorAndBody {
    background-color: #eff1f3;
    font-size: 14px;
}
._3-a6 .UFICommentActorAndBody {
    background-color: #ebedf0;
    border-radius: 18px;
    display: block;
    line-height: 16px;
}

._3-a6._4eno .UFICommentActorAndBodySpacing {
    padding: 8px 10px;
}

._3-a6 .UFICommentActorAndBodySpacing {
    padding: 9px 12px;
}

._3-a6 .UFICommentActorName {
    white-space: normal;
}

.UFICommentActorName {
    font-weight: 600;
    white-space: nowrap;
}

._5pcb._dp7 ._5vsj, ._5pcb._dp7 ._5vsj .fsm, ._5pcb._dp7 ._5vsi, ._5pcb._dp7 ._5v47, ._5pcb._4j3f .UFIAddCommentInput {
    font-size: 13px;
}
._5vsj._3-a6._4eno .UFICommentActions {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 3px;
    margin-left: 10px;
}
._5vsj .fcg {
    color: #90949c;
}
._3-a6 .UFICommentActions {
    margin-left: 12px;
    padding-top: 3px;
}
.UFICommentActions {
    min-height: 15px;
}
.UFICommentActions {
    clear: both;
    padding-top: 2px;
}
.fcg {
    color: #90949c;
}
.fwn {
    font-weight: normal;
}
.fsm {
    font-size: 12px;
}

a.uiLinkSubtle {
    color: #90949c;
}

.UFICommentActions .UFISutroCommentTimestamp, .UFICommentActions .UFISutroLikeCount {
    color: #616770;
}

abbr {
    border-bottom: none !important;
    text-decoration: none;
    cursor: pointer !important;
}

._5vsj .UFIAddComment._4204 {
    padding-top: 8px;
}

._3-a6._1blz._5vsj .UFIRow.UFIAddComment._4204 {
    border-top: 1px solid #eff0f1;
}

.UFIMentionsInputWrap, .UFICommentContainer, .UFIInputContainer {
    position: relative;
}

._3-a6._1blz ._fmi {
    border-color: #ccd0d5;
}

._69ad ._fmi {
    background-color: #f2f3f5;
}
.UFIMentionsInputWrap, .UFICommentContainer, .UFIInputContainer {
    position: relative;
}
._613v {
    border-radius: 18px;
    padding-left: 5px;
}
._fmi {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dddfe2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

._fmi ._2xwx {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
}

._5vsj ._fmk {
    height: 32px;
    margin-bottom: 0;
    margin-top: 0;
}

._fmi ._fmk {
    align-self: flex-end;
    display: flex;
    height: 24px;
    margin: 4px 0 4px auto;
    padding-right: 4px;
    position: static;
}

._1osa {
    left: -99999px;
    opacity: 0;
    font-size: 12px;
    position: absolute;
}

._5vsj .UFIAddComment .UFIAddCommentInput, ._5vsj .UFIAddComment .UFIAddCommentInput._1osc {
    min-height: 32px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.UFIAddComment .UFIAddCommentInput._1osb {
    height: auto;
}

.UFIAddComment .UFIAddCommentInput {
    display: block;
    height: 20px;
}
._613v ._2xww {
    background-color: transparent !important;
    line-height: 1.5;
}
._fmi ._2xww {
    border: 0 !important;
}
body ._1osb {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
._5yk1 {
    background: #fff;
    border: 1px solid #bdc7d8;
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding: 3px;
}

._5vsj._3-a6._4eno .UFIAddComment .UFIAddCommentInput, ._5vsj._3-a6._4eno .UFIAddComment .UFIAddCommentInput._1osc {
    padding-bottom: 8px;
    padding-top: 8px;
}

._3-a6._4eno .UFIAddComment .UFIAddCommentInput._1osb, ._4d3w._u77 .fbPhotosSnowboxFeedbackInput .UFIAddComment .UFIAddCommentInput._1osb {
    font-size: 13px;
    line-height: 16px;
}

._5rp7 {
    position: relative;
}

._5rp7, ._5rpb, ._5rpu {
    height: inherit;
    text-align: initial;
}

._1p1t {
    color: #90949c;
    position: absolute;
    z-index: 1;
}

._5rpb {
    background-color: rgba(255, 255, 255, 0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 1;
}

._5rpu[contenteditable="true"] {
    -webkit-user-modify: read-write-plaintext-only;
}

._1mj {
    direction: ltr;
    text-align: left;
}

._1mf {
    position: relative;
    white-space: pre-wrap;
}

._5rpu[placeholder]:empty:before {
    content: attr(placeholder);
    color: #90949c;
}

._5rpu[placeholder]:empty:focus:before {
    content: "";
}

.fss {
    font-size: 9px;
}

.UFICommentTip {
    padding-top: 1px;
}

._3-a6._5vsj .UFIReplyList {
    padding-bottom: 0;
    padding-left: 54px;
}

._5vsj .UFIReplyList {
    background-color: transparent;
    margin-top: -10px;
    padding: 8px 12px 6px 44px;
}
.UFIReplyList {
    background-color: #e9ebee;
    padding: 0 8px 8px 45px;
}

.UFIRow.UFIReplySocialSentenceRow {
    padding: 4px 6px 2px 6px;
}

.UFIReplySocialSentenceRow {
    line-height: 20px;
}

._5vsj.UFIContainer .UFIReplyList .UFIRow, ._5vsj.UFIContainer .UFIReplyList .UFIRow:last-child, div._5vsj.UFIContainer .UFIReplyList .UFIComment .UFICommentContent {
    border-bottom: 0;
    border-top: 0;
}

.UFICommentLink, .UFIPagerLink {
    display: block;
}
