.Review-comment {
    border-top: 1px solid #ddd;
}
.Review-comment-left {
    width: 23%;
    display: inline-block;
    padding: 40px 15px 20px 20px;
    vertical-align: top;
}
.Review-comment-leftHeader {
    display: table;
}
.MIN-14205 .Review-comment-reviewer {
    color: #737373;
    font-size: 13px;
}

.Review-comment-reviewer {
    font-size: 14px;
    color: #4e4e4e;
    line-height: 21px;
}
.Review-comment-reviewDate {
    line-height: 21px;
    margin-top: 10px;
}
.Review-comment-right {
    width: 75%;
    display: inline-block;
    padding: 20px 20px 20px 15px;
    vertical-align: top;
}
.MIN-14205 .Review-comment-bubble {
    padding: 40px 48px 16px;
}

.Review-comment-bubble {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 30px 60px 20px;
}
.Review-comment-helpful-logo {
    font-size: 14px;
    margin: 15px 0 10px;
    overflow: hidden;
}
.Review-comment-bodyTitle {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    position: relative;
}
.Review-comment-bodyText {
    padding-top: 20px;
    font-size: 14px;
    color: #4e4e4e;
    line-height: 21px;
    position: relative;
    font-weight: 200;
}
.memberBadgingNoText {
    margin: 5px 0 0;
    font-size: 12px;
}
.memberBadgingNoText .glyphicon {
    font-size: 16px;
    color: #5392f9;
}

div.helpful {
    overflow: visible;
    float: none;
}

div.helpful.liked {
    .glyphicon {
      color: #5392f9;
    }
    .hsx_thank_button{
      color: #5392f9;
    }
}

.hsx_thank_button {
    height: 20px;
    padding: 0 6px;
    border: 1px solid #737373;
    border-radius: 4px;
    display: inline-block;
    background: #ffffff;
    text-align: center;
    box-sizing: border-box;
    color: #737373;
    margin-bottom: 10px;
    margin-top: 5px;
}
.Review-comment-bubble.blue {
    background-color: #f4f8fe;
}
.Review-statusBar {
    padding-top: 15px;
    display: table;
    width: 100%;
}
.MIN-14205 .Review-statusBar-right {
    height: 9px;
}
.Review-statusBar-right {
    width: 25%;
    text-align: right;
    line-height: 40px;
    vertical-align: middle;
    display: table-cell;
}
.Review-statusBar-translateButton {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3d81f5;
    border: 1px solid #3d81f5;
    font-weight: 700;
    background-color: transparent;
    font-family: mallory,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html[dir=ltr] .Review-comment-reviewDate .ficon-mmb-inbox {
    margin-right: 4px;
}

.Review-comment-reviewDate .ficon-mmb-inbox {
    vertical-align: -2px;
}
.ficon {
    font-family: icons;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 3px;
}
.ficon-16 {
    font-size: 16px;
}

.Review-comment-frequentTraveler {
    color: #5392f9;
    display: inline-block;
}

html[dir=ltr] .Review-comment-frequentTraveler-text {
    margin-left: 7px;
}

.Review-comment-frequentTraveler-text {
    font-weight: bolder;
    line-height: 1.33;
    font-size: 12px;
}

.Review-comment-reviewDate .Review-statusBar-date {
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}
.Review-statusBar-date {
    color: #999;
    line-height: 40px;
}

.MIN-14205 .Review-comment-reviewer {
    color: #5392f9;
}

.Review-comment-reviewer {
    display: table-cell;
    font-size: 16px;
    color: #488bf8;
    margin-top: 10px;
    height: auto;
    vertical-align: bottom;
}

.blue_star {
    color: #5392f9;
}

.review-gray {
    color: #737373;
}

.Review-statusBar-translateButton:hover {
    background-color: #3d81f5;
    color: #fff;
    text-decoration: none;
}

.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

.ylist-bordered>li {
    margin: 0;
    padding: 18px 0;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 17px;
}

.media-block {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.reviews .biz-listing-medium {
    margin-bottom: 12px;
}

.media-block--12>.media-avatar {
    border-right: 12px solid transparent;
    border-left: none;
}

.media-block>.media-avatar {
    border-right: 6px solid transparent;
    border-left: none;
}

.media-story {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.clearfix {
    *zoom: 1;
}

.media-title a {
    font-weight: bold;
}

address {
    font-size: 12px;
    line-height: 1.5em;
}

address {
    display: block;
    font-style: normal;
}

.review-content {
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.biz-rating-large {
    margin: 6px 0;
}

.i-stars {
    display: inline-block;
    vertical-align: middle;
}

.rating, .rating-large, .rating-very-large {
    position: relative;
    overflow: hidden;
}

.biz-rating-large .rating-large {
    float: left;
    margin: -1px 6px 0 0;
}

.rating-qualifier {
    display: block;
    float: left;
    color: #666;
    font-weight: normal;
}

.pull-right {
    float: right;
}

.review-footer .voting-feedback ul {
    margin-top: -1px;
}

.voting-feedback .vote-item {
    margin-right: 6px;
}

.inline-block {
    display: -moz-inline-stack;
    display: inline-block;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    top: -.1em;
    fill: #666;
}


.ybtn .icon.icon--size-18 {
    margin: -9px 0;
}

.u-space-r-half {
    margin-right: 3px!important;
}
.u-space-r-half {
    margin-right: 3px !important;
}
.icon--currentColor, .icon--hover-currentColor:hover, .icon--hover-currentColor:focus {
    fill: currentColor;
    left: 3px;
}

.voting-feedback .vote-type {
    font-weight: bold;
    margin-right: 3px;
}


a.ybtn:hover, a.ybtn:visited {
    color: #666;
}

.voting-buttons .ybtn {
    white-space: nowrap;
}
.ybtn-small:not(.ybtn--social), .ybtn--small:not(.ybtn--social) {
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.5em;
}
a.ybtn {
    text-decoration: none !important;
}
.ybtn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 1.28571em;
    border-color: #ccc;
    color: #666;
    background-color: #f7f7f7;
    background: -webkit-linear-gradient(#fff, #f7f7f7);
    background: linear-gradient(#fff, #f7f7f7);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 8px 19px 9px;
    border-radius: 3px;
}

.review-footer .voting-feedback {
    float: left;
    margin-bottom: 0;
}

.voting-feedback {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.5em;
    color: #666;
}

.show-tooltip {
    position: relative;
}

.chiclet-link {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5em;
    color: #999;
    background: transparent;
    box-shadow: none;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.review-footer .review-footer-actions a+a {
    margin-left: 2px;
}

.tooltip {
    z-index: 1012;
}

.tooltip {
    display: inline-block;
    position: relative;
    padding: 6px 9px;
    z-index: 4;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    pointer-events: none;
    font-weight: bold;
    line-height: 18px;
    background: #333;
    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 5px;
    text-shadow: none;
    text-align: left;
    cursor: default;
    -webkit-box-shadow: 0 1px rgba(255,255,255,0.1);
    box-shadow: 0 1px rgba(255,255,255,0.1);
}

.clearfix:after {
    clear: both;
}

.manage-box {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5em;
    background: transparent;
    box-shadow: none;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Review-comment-left a+a {
    margin-left: 5px;
}
