@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);
@import url('https://fonts.googleapis.com/css?family=Montserrat|Delius');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
  margin-top: 40px;
}

h1 {
  font-size: 60px;
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 48px;
}

// input reset cho remember login
.input-reset {
  width: auto;
  margin-left: 8px !important;
}

// input cho add new
.label {
  float: left;
  margin-right: 10px;
  width: 170px;
  color: #222;
  font-size: 16px;
  text-align: right;
}

select, input {
  width: auto;
  border: none;
  padding-bottom: 6px;
}

.input-add-new {
  width: 70%;
}
// end


// next - prev
.pagination {
  display: block;
  text-align: center;
}

@mixin next-prev {
  border: 1px solid #E8E8E8;
  border-radius: 10%;
  margin: 3px;
  transition: 0.5s;
  a {
    color: #828282;
  }
  &:hover {
    background-color: #B5B5B5;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
span.next, span.prev, span.last, span.first {
  padding: 5px 15px;
  @include next-prev;
}
span.page {
  @include next-prev;
  padding: 5px 8px;
}

span.current {
  border: 1px solid #E8E8E8;
  margin: 3px;
  padding: 5px 8px;
  background-color: #4F4F4F;
  color: #ccc;
}
// end

//content ul li
.content ul li {
  padding: 20px;
  margin: 5px;
  border: 1px solid #E8E8E8;
  list-style-type: none;
  transition: 1s ease-in;
  background-color: #FCFAFA;
  position: relative;
  &:hover {
    background-color: #C6A861;
    color: white;
    a {
      color: white;
    }
  }
}

//end

@mixin method {
  position: absolute;
  top: 20px;
  float: right;
  padding: 5px;
  &:hover{
    border: 1px solid #E8E8E8;
  }
}

.delete {
  @include method;
  right: 10px;
}

.edit {
  @include method;
  right: 70px;
}

.edit {
  @include method;
  right: 70px;
}

// phan content
.content a {
  color: #333;
  text-decoration: none;
  transition: 1s;
  &:hover {
    color: #fff;
  }
}

//end

.field {
  padding: 5px;
  &:hover {
    background-color: #F5F5F5;
    padding: 5px;
  }
}


.box {
  padding: 7px;
  width: 100%;
  border: 1px solid #ebebeb;
  transition: 0.5s;
  &:focus {
    border-color: #62c2e4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  }
}



/* Signup/Login form styles */

.signup-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}

.login-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}


// text line for homepage
span.text-line{
  color: #fbab19;
  font-size: 46px;
  font-family: 'Alex Brush', cursive;
  text-transform: none;
}
.text-line::before {
  display: inline-block;
  content: '';
  width: 65px;
  height: 1px;
  margin-right: 10px;
  margin-top: 9px;
  background-color: #fbab19;
}

// level span for head title
.title span{
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 6px;
  margin: 32px 5px 18px 4px;
  background: #C6A861;
  color: #fff;
  float: left;
}

.title .name {
  font-weight: 600;
  font-size: 30px;
  color: #444;
  margin: 20px 5px 18px 4px;
  float: left;
  text-transform: capitalize;
}

//for address
.address, .phone {
  text-transform: capitalize;
  margin-left: 15px;
  font-size: 17px;
}
.description{
  margin-left: 15px;
  font-size: 19px;
  margin-bottom: 50px;
}
/* Button/link styles */
.btn-my-list{
  margin-top: 25px;
  font-size: 18px;
  padding: 15px;
}
.btn-custom {
  color: darken(#f1c40f, 5%);
  background-color: #fff;
  border: 1px solid darken(#f1c40f, 5%);
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: darken(#f1c40f, 5%);
    color: #fff;
    transition: 0.5s;
    width: 100%;
  }
}

.btn-custom2 {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 20px 0 30px 0;
  width: 250px;
  transition: 0.5s;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
    width: 100%;
  }
}

.btn-custom3 {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 20px 0 30px 50px;
  width: 150px;
  transition: 0.5s;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
  }
}

.btn-custom4 {
  color: #fff;
  background-color: #333;
  border: 1px solid #222;
  padding: 4px 8px;
  border-radius: 5px;
  width: 150px;
  transition: 0.5s;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
}

// img
.field span.picture  img {
  position: relative;
  height: 291px;
  border: 1px solid #e6dfdf;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.field:hover img {
  opacity: 0.3;
}

.field:hover .middle {
  opacity: 1;
}

.home-form {
  padding: 0 !important;
  @include background-tile;
  margin: 23px 18px 46px 0;
  margin-right: 0;
  height: 350px;
  position: relative;
  color: black;
  text-transform: capitalize;
  &:hover {
    box-shadow: 2px 2px 9px 3px #AAAAAA;
  }
  box-shadow: 1px 1px 5px 1px #ccc;
}

.home-form .col-md-4 img {
  max-width: 275px;
  height: 234px;
  margin-top: 28px;
}
.home-form h1 {
  font-size: 32px;
  margin-bottom: 6px;
  text-align: left;
  width: auto;
  z-index: 1;
  font-family: 'Delius', cursive;
}
.home-form h2 {
  font-size: 26px;
  margin: 2px 0;
  text-align: left;
  z-index: 1;
  width: auto;
  font-family: 'Delius', cursive;
  font-style: italic;
}
.home-form p {
  width: 80%;
  z-index: 1;
  font-style: italic;
  font-size: 15px;
  font-family: 'Delius', cursive;
}


// text line for homepage
span.text-line{
  color: #fbab19;
  font-size: 46px;
  font-family: 'Alex Brush', cursive;
  text-transform: none;
}
.text-line::before {
  display: inline-block;
  content: '';
  width: 65px;
  height: 1px;
  margin-right: 10px;
  margin-top: 9px;
  background-color: #fbab19;
}

// level span for head title
.title span{
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 6px;
  margin: 32px 5px 18px 4px;
  background: #C6A861;
  color: #fff;
  float: left;
}

.title .name {
  font-weight: 600;
  font-size: 30px;
  color: #444;
  margin: 20px 5px 18px 4px;
  float: left;
  text-transform: capitalize;
}

//for address
.address, .phone {
  text-transform: capitalize;
  margin-left: 15px;
  font-size: 17px;
}
.description{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 16px;
  margin-bottom: 50px;
}

.room-item:hover {
  border-left: 20px solid #E8E8E8;
  -webkit-transition: 1.5s;
}
.guest-no, .bed-number {
  text-transform: capitalize;
  margin-left: 35px;
  font-size: 17px;
}
.price{
  margin-left: 35px;
  font-size: 17px;
  margin-bottom: 50px;
}

.room-type {
  margin-left: 15px;
  font-size: 22px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 300px;
  line-height: 1;
}

.img-show {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.img-show img {
  padding: 5px;
}

td, th {
  padding: 10px 2px;
}

#search-form {
  float: right;
  margin-top: 20px;
}

#search-form input {
  width: 250px;
  padding: 6px 15px;
  border: solid 1px #828282;
  border-radius: 50px;
}

#search-form input[type="submit"] {
  width: 70px;
}

#search-form-menu {
  margin-left: -14px;
  margin-top: 20px;
}

#search-form-menu input {
  width: 190px;
  padding: 6px 15px;
  margin-top: 8px;
  border-radius: 5px;
  border: solid 1px #828282;
}
#search-form-menu input[type="submit"], #search-form-menu-x input[type="submit"]{
  width: 70px;
  background-color: #4b60ff;
  color: #fff;
  margin-left: -10px;
}

#search-form-menu select {
  width: auto;
  height: 34px;
  margin-top: 8px;
  background-color: #fff;
  border: solid 1px #828282;
  border-radius: 50px;
}

.navbar-inverse .navbar-nav > li:hover > a, .dropdown-menu > li:hover > a {
  color: #16a085 !important;
}

#search-form-menu-x input {
  width: 290px;
  padding: 4px 15px;
  float: right;
  transition: 0.5s;
  &:focus {
    width: 400px;
    transition: 0.5s;
  }
}

#search-form-menu-x .easy-autocomplete {
  width: auto !important;
}

button {
  background-color: #16a085;
  border-radius: 4px;
  margin-left: 3px;
  color: #fff;
  padding: 4px 15px;
}

.easy-autocomplete {
  float: left;
}
.easy-autocomplete-container {
  top: 31px;
}

.pagination {
  clear: both;
}


.home-form p.zone-p {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}

.home-form p.zone-p a {
  color: black;
  text-decoration: none;
  &:hover {
    color : #16a085;
    cursor: pointer;
  }
}
.home-form .zone-left {
  width: 33%;
  float: left;
  margin: 7px 0;
}

.home-form .zone-right {
  width: 66%;
  float: right;
  margin: 7px 0;
}

.home-form .zone-left img {
  width: 47px;
  height: 47px;
}

body {
  background: #fff;
  font-family: fo;
}

.slider_tr_fix > .item > img {
  height: 450px;
}

#motels {
  margin-right: 0;
  padding-right: 0;
}

#filterrific_results {
  margin-right: 0;
}